{% if hospitais %}
    {% for hospital in hospitais %}
        <tr>
            <td>{{ hospital.nome }}</td>
            <td>{{ hospital.endereco }}</td>
            <td class="text-end">
                <a href="/hospital/form/{{ hospital.id }}" class="btn btn-info">Editar</a>
                <a onclick="deletarHospital({{ hospital.id }})" class="btn btn-danger">Excluir</a>
            </td>
        </tr>
    {% endfor %}
{% else %}
    <tr>
        <td colspan="3" class="text-center">Nenhum item cadastrado</td>
    </tr>
{% endif %}